.a-D3BubbleChart .a-D3BubbleChart-axis line,
.a-D3BubbleChart .a-D3BubbleChart-axis path {
  fill: none;
  stroke: #dddddd;
}
.a-D3BubbleChart .a-D3BubbleChart-axis .tick text {
  fill: #707070;
}
.a-D3BubbleChart .a-D3BubbleChart-axis-title {
  fill: #707070;
  font-size: 1.1em;
}
.a-D3BubbleChart .a-D3BubbleChart-line--fade,
.a-D3BubbleChart .a-D3BubbleChart-area--fade {
  opacity: 0.1;
}
.a-D3BubbleChart .a-D3BubbleChart-axisLineX,
.a-D3BubbleChart .a-D3BubbleChart-axisLineY {
  stroke-width: 2px;
  stroke: #000000;
}
.a-D3BubbleChart .a-D3BubbleChart-tooltip {
  cursor: pointer;
  position: absolute;
}
.a-D3BubbleChart .a-D3BubbleChart-container {
  display: inline-flex;
  position: relative;
  margin-top: 1em;
  margin-bottom: 1em;
}

.a-D3BubbleChart-circle {
  cursor: pointer;
}

.a-D3BubbleChart .u-Processing {
  display: block;
  position: absolute;
  top: 20px;
  right: 20px;
}
.a-D3ChartLegend-component {
  cursor: pointer;
  list-style-type: none;
}

.a-D3ChartLegend-marker, .a-D3ChartTooptip-marker {
  display: inline-block;
  width: 1em;
  height: 1em;
  border-radius: 100%;
  margin-top: 0.5em;
  margin-left: 0.5em;
  color: #707070;
}

.a-D3ChartTooptip-marker {
  color: black;
}

.a-D3ChartTooptip-content {
  color: black;
  margin-top: -5px;
  margin-left: 20px;
}
.a-D3ChartLegend-selected {
  background-color: rgba(255, 255, 255, 0.95);
  -webkit-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.6);
  -moz-box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.6);
  box-shadow: 0px 1px 15px 0px rgba(50, 50, 50, 0.6);
}

.a-D3BubbleChart-pointContainer-dot {
  cursor: pointer;
}
.a-D3BubbleChart-pointContainer--fade {
  opacity: 0.1;
}
